<html>

<body>
    {% extends "main/base.html" %}
    {% block title %} Requests {% endblock %}
    {% block content %}
<section class="page-section" style="background: rgb(232,90,79);
background: linear-gradient(157deg, rgba(232,90,79,1) 24%, rgba(220,20,60,1) 60%, rgba(234,231,220,1) 98%);" >
    <div class="signup-form">
        <form action="{% url 'corona:editZoomerConfirm' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" class="form-control" id="username" name="username" value="{{zoomer.username}}"><br>

        <label for="password">Password:</label><br>
        <input type="text" class="form-control" id="password" name="password" value="{{zoomer.password}}"><br>

        <label for="name">Name:</label><br>
        <input type="text" class="form-control" id="name" name="name" value="{{zoomer.name}}"><br>

        <label for="surname">Surname:</label><br>
        <input type="text" id="surname" class="form-control" name="surname" value="{{zoomer.surname}}"><br>

        <label for="age">Age:</label><br>
        <input type="text" class="form-control" id="age" name="age" value="{{zoomer.age}}"><br>

        <label for="phone">Phone:</label><br>
        <input type="text" class="form-control" id="phone" name="phone" value="{{zoomer.phone}}"><br>

        <label for="email">Email:</label><br>
        <input type="text" class="form-control" id="email" name="email" value="{{zoomer.email}}"><br>

        <label for="address">Address:</label><br>
        <input type="text" class="form-control" id="address" name="address" value="{{zoomer.address}}"><br>

        <label for="postalcode">Postal Code:</label><br>
        <input type="text" class="form-control" id="postalcode" name="postalcode" value="{{zoomer.postal_code}}"><br>

        <input type="submit"  style="background: #e85a4f;" class="form-control" value="Submit">
        </form>
        {% if error_message %}
        <p>{{error_message}}</p>
        {% endif %}
    </div>
    {% endblock %}
</body>

</html>