<html>

<body>
    {% extends "main/base.html" %}
    {% block title %} Requests {% endblock %}
    {% block content %}
    <div class="main">
        <form action="{% url 'corona:editZoomerConfirm' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{zoomer.username}}"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" value="{{zoomer.password}}"><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{zoomer.name}}"><br>
        <label for="surname">Surname:</label><br>
        <input type="text" id="surname" name="surname" value="{{zoomer.surname}}"><br>
        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age" value="{{zoomer.age}}"><br>
        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone" value="{{zoomer.phone}}"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" value="{{zoomer.email}}"><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" value="{{zoomer.address}}"><br>
        <label for="postalcode">Postal Code:</label><br>
        <input type="text" id="postalcode" name="postalcode" value="{{zoomer.postal_code}}"><br>
        <input type="submit" value="Submit">
        </form>
        {% if error_message %}
        <p>{{error_message}}</p>
        {% endif %}
    </div>
    {% endblock %}
</body>

</html>