<html>

<body>
    {% extends "main/base.html" %}
    {% block title %} Listing {% endblock %}
    {% block content %}
    <div class="main">
        {% if boomer_list %}
        {% for boomer in boomer_list %}
        <p>
            {%if boomer.request_list%}
            Name: {{boomer.name}} <br>
            Surname: {{boomer.surname}}<br>
            Age: {{boomer.age}} <br>
            Address: {{boomer.address}}<br>
            Postal Code: {{boomer.postal_code}}<br>
            Email: {{boomer.email}}<br>
            Phone: {{boomer.phone}}<br>
            Requests:  <br>
            {% for request in boomer.request_list %}
            {%if request.taken == False%}
            Request: {{request.details}} <a href="{% url 'corona:requestTake' request.id %}">Take</a><br>
            {%endif%}
            {%endfor%}
            <hr>
            {%endif%}
        </p>
        {% endfor %}   
        {% else %}
        <p>no boomers</p>
        {% endif %}
    </div>
    {% endblock %}
</body>

</html>