<html>

<body>
    {% extends "main/baseboomer.html" %}
    {% block title %} Requests {% endblock %}
    {% block content %}
    <div class="main">
    {% if request_list %}
    {% for request1 in request_list %}
    <p>
        Request: {{request1.details}}<br> 
        {%if request1.completed == False%}
        In Progress...<br><br>
        {%else%}
        The request has been fulfilled<br><br>
        {%endif%}
        {% if request1.taken == True %}
        Helper details:<br>
        Name: {{request1.zoomer.name}} <br>
        Surname: {{request1.zoomer.surname}}<br>
        Age: {{request1.zoomer.age}} <br>
        Distance: {{request1.distance}} km<br>
        Address: {{request1.zoomer.address}}<br>
        Postal Code: {{request1.zoomer.postal_code}}<br>
        Email: {{request1.zoomer.email}}<br>
        Phone: {{request1.zoomer.phone}}<br>
        {%else%}
        Not taken yet<br>
        {%endif%}
        {%if request1.completed == False%}
        <a href="{% url 'corona:editListing' request1.id %}">Edit request</a><br>
        {%endif%}
        <a href="{% url 'corona:deleteListing' request1.id %}">Delete request</a><br>
        <hr>
        
    </p>
    {% endfor %}   
    {% else %}
    <p>No Requests</p>
    {% endif %}
    </div>
    {% endblock %}
</body>

</html>