<html>

<body>
    {% extends "main/baseboomer.html" %}
    {% block title %} Requests {% endblock %}
    {% block content %}
    <div class="main">
    {% if request_list %}
    {% for request1 in request_list %}
    <p>
        Request: {{request1.details}}<br> 
        Completed: {{request1.completed}}<br><br>
        {% if request1.taken == True %}
        Helper details:<br>
        Name: {{request1.zoomer.name}} <br>
        Surname: {{request1.zoomer.surname}}<br>
        Age: {{request1.zoomer.age}} <br>
        Postal Code: {{request1.zoomer.postal_code}}<br>
        Email: {{request1.zoomer.email}}<br>
        {%else%}
        Not taken yet<br>
        {%endif%}
        <hr>
        
    </p>
    {% endfor %}   
    {% else %}
    <p>No Requests</p>
    {% endif %}
    </div>
    {% endblock %}
</body>

</html>