<html>
    
</html>

<!DOCTYPE html>
<html lang="en">
    <!-- head.njk -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The Boomer Consumer</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
    <!-- Favicon Tab Icon -->
    <!-- <link rel="shortcut icon" href="img/favicon.jpg"> -->
</head>
<body id="page-top">
    <section class="page-section" id="intro">
        <div class="container">
            <h1>Login form here</h1>
            <h3>Not a registered Boomer or Zoomer? Signup <a href="#Signup link">below!</a> </h3>
            
        </div>
    </section>


    <section class="page-section" id="Signup link">
        <div class="container">
            <button onclick="window.location.href = 'signupBoomer';">Boomer: need help</button>
            <button onclick="window.location.href = 'signupZoomer';">Zoomer: help the boomer consumer</button>
            
        </div>
    </section>
</body>