<html>
    
</html>

<!DOCTYPE html>
<html lang="en">
    <!-- head.njk -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Zoomer Help the Consumer sign up</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
    <!-- Favicon Tab Icon -->
    <!-- <link rel="shortcut icon" href="img/favicon.jpg"> -->
</head>
<body id="page-top">
    <section class="page-section" id="intro">
        <div class="container">
            <h1>Sign up Zoomer as a Consumer form here</h1>
            <h3>Already registered Boomer or Zoomer?<a href="/corona"> Login here </a> </h3>
            
        </div>
    </section>

 <section class="page-section" id="Signup form">
        {% block content %}
          <center><h2>Help a Boomer be a Consumer Zoomer</h2>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit">Sign up</button>
          </form>
        {% endblock %}
        </center>
    </section>

</body>